@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    --cor_principal: #7262d8;
    --cor_secumndaria: #35F29A; 
}

* {
    font-family: 'Roboto', sans-serif;;
    margin: 0;
    padding: 0;
}

/* header da pagina */ 

header {
    background-image: linear-gradient(to left, var(--cor_principal), var(--cor_secumndaria));
    color: white;
    text-align: center;
    padding: 4% 0;
}

header h1 {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.61);
    letter-spacing: 2px;
    font-size: 3em;
}

header p {
    color: #000000e1;
    font-size: 20px;
}

/* botão do menu */ 

.button_menu {
    color: white;
    display: none;
}

/* navegação framework */ 



nav#list_framework {
    background-color: #242424;
    padding: 10px;
}

nav#list_framework ul {
    display: flex;
    max-width: 700px;
    justify-content: space-around;
    margin: auto;
    list-style-type: none;
}

nav#list_framework a {
    color: white;
    font-size: 20px;
    transition: all .8s;
    text-decoration: none;
    padding: 8px 20px;
    transition: .8s;
}

nav#list_framework a:hover {
    text-decoration: underline;
}

/* área de destaque da pagina */ 



section#destaque  {
    display: grid;
    grid-template-columns: 600px auto;
    align-items: center;
    grid-gap: 20px;
    max-width: 1000px;
    margin: 5% auto 5% auto;
}

section#destaque h2 {
    color: #242424;
    text-shadow: 1px 1px 3px ;
    font-size: 2.5em;
    letter-spacing: 4px;
    padding-left: 20px;
    margin-bottom: 20px;
}

section#destaque p {
    font-size: 20px;
    line-height: 1.4em;
}

/* fundamentos  */ 
.botao_fremework h3 {
    margin-top: 20px;
}

.botao_fremework a {
    background-color: var(--cor_principal);
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    width: 200px;
    margin: 10px 0;
    padding: 5px 20px;
    transition: all .9s;
}

.botao_fremework a:hover {
    transform: scale(0.9);
    box-shadow: 0px 4px 70px black;
}
/* div`s destaque */

.img_js_destaque {
    background-image: linear-gradient(to left, var(--cor_principal), var(--cor_secumndaria));
    border-radius: 90% 10px 10% 10px;
    max-width: 300px;
    padding: 20px;
    transition: .8s;
}

.img_js_destaque:hover {
    transform: translateX(2em); 
}

.img_js_destaque img {
    display: block;
    margin: auto;
    width: 90%;
}


/* cabeçalho da pagina */ 

footer {
    font-size: 80%;
    text-align: center;
    padding: 10px 0;
}


@media screen and (max-width: 1000px) {

    /* header da pagina */ 
    header h1{
        font-size: 2em;
    }
    header p {
        display: none;
    }
    /* area de destaque */ 

    section#destaque {
        display: block;
        padding: 7% 0;
        margin: 0 20px;
    }

    section#destaque h2 {
        color: #4d0080;
        text-align: center;
        text-decoration: none;
        padding: 0;
    }

    /* imagem do grid */ 

    .img_js_destaque {
        
        margin: auto;
    }

    .img_js_destaque:hover {
        transform: translateX(0.5em); 
    }
}

@media screen and (max-width: 600px) {
    /* botão para menu */ 

    .button_menu {
        color: rgb(0, 0, 0);
        display: block;
        transition: .8s;
    }
    .button_menu:hover {
        color: white;
    }

    /* menu - nav */ 
    nav#list_framework {
        background-color: white;
        padding: 10px;
        transition: .8s;
    }

    nav#list_framework:hover {
        background-color: #242424;
    }
    
    nav#list_framework ul {
        background-color: #242424;
        display: none;
    }

    /* mostrar quando clicar - mobile */ 

    nav#list_framework:hover ul {
        display: block;
    }

    nav#list_framework li {
        line-height: 2.4em;
        text-align: center;
    }
    
    nav#list_framework a {
        color: white;
        font-size: 20px;
        text-decoration: none;
        padding: 8px 20px;
    }
    
}


@media screen and (max-width: 400px) {

    .botoes_fremework a {   
        margin-bottom: 10px;
    }
}