@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    --cor_principal: #7262d8;
    --cor_secumndaria: #35F29A; 
}

* {
    font-family: 'Roboto', sans-serif;;
    margin: 0;
    padding: 0;
}

/* --- cabeçalho da pagina ---- */ 

header {
    background-color: #2a2a2a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

header h1 {
    color: var(--cor_secumndaria);
    font-size: 2.4em;
}

#botao_voltar_home {
    background-color: #f5f7f6;
    color: black;
    text-decoration: none;
    letter-spacing: 1.5px;
    border-radius: 10px;
    padding:  5px 10px;
    transition: .8s;
}

#botao_voltar_home:hover {
    transform: scale(0.9);
}

/* section destaque */


section#destaque {
    background-image: linear-gradient(to left, var(--cor_secumndaria), var(--cor_principal));
    text-align: center;
    padding: 5% 0 ;
}

section#destaque h2 {
    color: rgb(255, 255, 255);
    font-size: 2.7em;
    text-shadow: 0px 5px 4px #00000069;
}

section#destaque p {
    font-weight: bold;
    font-size: 23px;
}


/* main da pagina */ 

main {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 40px;
    flex-direction: row;
    max-width: 1100px;
    margin: 5% auto;
    transition: .8s; 
}

main article {
    width: 300px;
    padding: 10px;
}

#sobre_repeticoes {
    width: 1000px;
    padding: 10px; 
}


article h2 {
    color: #890cf0;
    text-shadow: 0px 0px 0px #00000088;
    font-size: 1.8em;
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 20px;
}

article p {
    line-height: 1.4em;
}

/* tema */ 

#buttons_tema {
    background-color: #2a2a2a;
    color: white;
    text-align: center;
    border-radius: 20px;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
}

#buttons_tema label {
    font-size: 20px;
} 

#buttons_tema input {
    margin: 0 10px;
}

@media screen and (max-width: 1000px) {
    main {
        margin: 5% 20px;
    }
}

@media screen and (max-width: 600px) {
    header h1 {
        font-size: 1.5em;
    }
    section#destaque h2 {
        font-size: 2em;
        margin-bottom: 10px;
    }

    section#destaque p {
        font-size: 18px;
        margin: 0 10px;
    }
}