@charset "UTF-8"; 


* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}


header {
    background-color: #242424;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;    
}

header h1 {

    padding-left: 70px;
    text-shadow: 2px 2px 2px #ffffff77;
    letter-spacing: 4px;
}

body {
    background-image: linear-gradient(to left, #330075, #7005ad);
}

main {
    margin: 5% 0;
}

/* ------ list_menu ------- */

#btn_menu {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
    transition: all .9s;
}

#btn_menu:hover {
    transform: scale(0.9);
}

#list_menu {
    display: none;
}

#list_menu ul{
    background-color: #242424;
    list-style-type: none;
    position: absolute;
    border-radius: 10px;
    border: solid 1px white;
    top: 73px;
    max-width: 400px;
    transition: all .8s;
}

#list_menu li{
    text-align: center;
    line-height: 5em;
}

#list_menu a {
    color: #f6f6f6;
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 140px;
    transition: all .8s;
}

#list_menu a:hover {
    transform: translateX(1em);
}

/* destaque da pagina */ 

#destaque {
    max-width: 1000px;
    margin: 5% auto;
}

#destaque img {
    display: block;
    margin: auto;
}

/* mostrar conteiners */ 

#box01, #box02, #box03, #box04 {
    background-color: #ffffff;
    color: rgb(10, 10, 10);
    max-width: 600px;
    margin: 1% auto;
    padding: 20px;
    border-radius: 20px;
}

.flex_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteiner_div p {
    color: rgb(44, 44, 44);
    line-height: 1.6em;
    margin-top: 10px;
}

#box01_btn, #box01_btn02, #box01_btn03, #box01_btn04 {
    color: #000000;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
}

#paragrafo_01, #paragrafo_02, #paragrafo_03, #paragrafo_04 {
    display: none;
}


@media screen and (max-width: 390px) {
    #list_menu ul{
        width: 100%;
    }

    #list_menu a {
        padding: 10px;
    }
} 


@media screen and (max-width: 500px) {
    header h1 {
        font-size: 1.5em;
        padding: 10px;
        text-shadow: 2px 2px 2px #ffffff77;
        letter-spacing: 4px;
    }

     img {
        width: 50%;
        padding: 20px 0 ;
        display: block;
        margin: auto;
    }

    #box01, #box02, #box03, #box04 {
        background-color: #ffffff;
        color: rgb(10, 10, 10);
        max-width: 600px;
        margin: 2%;
        padding: 20px;
        border-radius: 20px;
    }
    
}



@media screen and (max-width: 450px) {
     h2 {
        font-size: 1.2em;
    }
}