@charset "UTF-8"; 

* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* cabeçalho da pagina */ 

body {
    transition: .9s;
}

header {
    background-color: #2a2a2a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 20px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav a {
    color: #ffffff90;
    text-decoration: none;
    font-size: 20px;
    padding: 0 20px;
    transition: .8s;
}

nav a:hover {
    color: white;
}

/* ----- mudar tema ------- */ 

.button_tema {
    background-color: white;
    color: #2a2a2a;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    padding: 3px 5px; 
    transition: .9s;
}

.button_tema:hover {
    background-color: rgba(255, 255, 255, 0.693);
}

/* -------- corpo da pagina --------- */ 

section#sobre {
    max-width: 700px;
    padding: 5% 0 5% 30px; 
}

section#sobre h2 {
    color: #7b00c2;
    font-size: 2em;
    margin-bottom: 10px;
}

section#sobre p {
    font-size: 20px;
    line-height: 1.4em;
    margin-bottom: 20px;
}

#button_header {
    background-color: #FFDD00;
    color: #003B4A;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    padding: 7px 10px;
    transition: .8s;
}

#button_header:hover {
    background-color: #edcd00;
}

/* ------ exemplos das estruturas ------ */ 

article.box_conteiner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px solid #969696;
    padding-bottom: 5%;
    margin:  0 40px;
}

article.box_conteiner div {
    width: 400px;
    margin: 15px 0;
}

article.box_conteiner code {
    display: block;
    background-color: #dadada6e;
    color: black;
    box-shadow: 2px 6px 10px #05050543;
    padding: 10px;
}

article.box_conteiner h3 {
    color: #7b00c2;
    font-size: 1.5em;
    margin:  10px 0;
}

article.box_conteiner p, li {
    line-height: 1.5em;
    font-size: 18px;
}


/* -------- área de exercícios -------- */ 

.area_exercicio {
    margin: 0 40px;
    padding: 5% 0;
}

.area_exercicio h2 {
    color: #7b00c2;
    font-size: 2em;
    margin-bottom: 15px;
}

.area_exercicio p {
    max-width: 700px;
    font-size: 20px;
    margin-bottom: 20px;
}

/* ----- conteiner box ------- */ 

div.box_exercicios h3 {
    color: #464646;
    font-size: 1.5em;
}

div.box_exercicios {
    display: flex; 
    flex-wrap: wrap;
    
}

div.box_exercicios div {
    background-color: #e4e4e4db;
    box-shadow: 2px 6px 10px #05050543;
    color: black;
    width: 400px;
    padding: 10px;
    margin: 20px 10px;
}

div.box_exercicios input {
    margin: 10px 0;
}

#n_digito {
    background-color: white;
    outline: none;
    border: 2px solid;
    width: 80px;
    padding: 3px 3px;
    color: black;
}

.button_confirm {
    background-color: #1c1b19;
    color: #ffffff;
    border-radius: 10px;
    border: none; 
    font-weight: bold;
    padding: 6px 10px;
}


/* resposta */ 

#res_opcoes, #res_digito {
    margin: 10px 0;
    max-width: 450px;
}


/* responsividade da pagina */ 

@media screen and (max-width: 750px) {
    /* destaque */ 
    section#sobre {
        max-width: 700px;
        padding: 10% 10px; 
    }

    /* margin article e box */ 
    article {
        padding: 0 10px; 
    }
    
    div#sobre_conteiner {
        padding: 6% 0;
    }
    div#sobre_conteiner h3 {
        margin-top: 30px;
    }

    article.box_conteiner {
        margin: 0 5px;
    }

    /* area_exercicio */
    
    .area_exercicio {
        margin: 0 5px;
        padding: 10% 0;
    }

    /* titulos e parágrafo */ 

    section#sobre h2 {
        font-size: 1.7em;
    }
    section#sobre p {
        font-size: 18px;
    }
}