@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* cabeçalho da pagina - header  */

header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 20px;
}

#menu {
    display: flex; 
}

/* title */

header h1 {
    font-weight: normal;
    letter-spacing: 2px;
}

.emphasisTitle {
    font-weight: bold;
}

/* links */

.listIens {
    display: flex;
    align-items: center;
}

.listIens li {
    padding: 10px;
}

#menu a {
    color: #303030; 
    padding: 10px;
    text-decoration: none;
    transition: all .4s;
}

#menu a:hover {
    padding: 10px 20px;
    color: #353535ab;
}

#menu a:focus {
    color: dodgerblue;
    border-top: 1px solid dodgerblue;
}

#btn_menumobile {
    display: none;
}

/* imagem header */

.listIens img {
    width: 17px;
    padding: 6px;
    border-radius: 10px;
}

.listIens img:hover  {
    background-color: beige;
}

/* área de login  */

#dadosUserLogin {
    background: none;
    border: none;
    cursor: pointer;
}

#localDados {
    display: none;
}

#conteinerDados {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0 ;
}

#dadosInfo {
    display: none;
    line-height: 2em; 
    font-size: 20px;  
    transition: all .8s;
    padding: 20px;
}

/* btn preencha os dados */

#preenchaDados {
    cursor: pointer;
    margin: 0 20px 0 0px;
    padding: 3px;
    display: none;
    transition: all .5s;
}

#preenchaDados a {
    color: #3895FF;
    text-decoration: none;
    cursor: pointer;
    padding: 3px;
}


#dadosUserLogin:focus {
    border-bottom: 2px solid dodgerblue;
}

/* seção de destaque - emphasis */

section.emphasis {
    background-image: url(../img/pexels-pixabay-390051.jpg);
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15vh 0;
    
}

.emphasis article {
    background-color: #30303017;
    color: white;
    transition: all .5s;
    max-width: 900px;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    margin: auto;
}

.emphasis article:hover {
    background-color: #3030301e;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
   
   
} 

.emphasis h1 {
    font-size: 2.5em;
    letter-spacing: 20px;
    margin: 30px;
}

.subTitle {
    letter-spacing: 10px;
}


.text_sobre {
    margin-bottom: 30px; 
    max-width: 700px;
    margin: 20px auto 30px auto;
}

/* links acesso emphasis */

.btnEmphasis {
    background-color: #3895FF;
    color: white;
    border-radius: 3px;
    font-size: 16px;
    letter-spacing: 4px;
    text-decoration: none ;
    margin: 0 6px;
    transition: all .5s;
    padding: 10px;
}

#about_butt {
    background-color: white;
    color: #303030;
    transition: all .5s;
}


/* sobre o site - form - itens */

.aboutFuturio {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: space-around;
    align-items: center;
    padding: 90px 0 ;
}



#conteinerForm {
    background-image: linear-gradient(to left,#0040f29e, #00154d9e);
    border-radius: 10px;
    padding: 20px;
}

#form {
    display: block;
    margin-left: 20px;
}

#form h3 {
    letter-spacing: 2px;
    margin-bottom: 20px;
}


#form label {
    font-size: 19px;
}

#form input {
    color: rgb(10, 10, 10);
    background-color: #e2e2e296;
    border-radius: 5px;
    text-align: center;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 3px;
    margin: 10px 0;
    transition: all .3s;
}

#form input:focus {
    font-size: 18px;
    padding: 10px 3px;
}

#btnEnviarDados {
    background-color: #494949;
    box-shadow: 0px 3px 3px #353535ab;
    color: white;
    width: 200px;
    display: block;
    margin: 10px 3px;
    border: none;
    cursor: pointer;
    padding: 5px;
}


.about_references img {
    display: block;
    margin: 15px auto;
}

.about_references h3 {
    margin: 15px 0 ;
}

/* - - - - RESPONSIVIDADE - - - - - - */

@media screen and (max-width: 990px) {
    .aboutFuturio {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .aboutFuturio div {
        max-width: 400px;
        padding: 20px;
    }

    .aboutFuturio img {
        margin: 0;
    }

    #form {
        background-color: #30303017;
        border-radius: 10px;
        padding: 30px;
        margin: 20px 0;
    }

    #btns_acesso a{
        display: block;
        max-width: 200px;
        margin: 7px auto;
    }

    @media screen and (max-width: 500px) {
        .emphasis h1 {
            font-size: 2em;
            letter-spacing: 2px;
        }
    }   
}

/* - - -  RESPONSIVIDADE DO MENU - - - - -  */

@media screen and (max-width: 880px) {
    #menu {
        display: none;
        background-color: white;
        position: absolute;
        text-align: center;
        line-height: 1.7em;
        right: 0;
        top: 60px;
        width: 100%;
        padding: 20px;
    }

    #menu li {
        transition: all .8s;
    }

    #menu li:hover {
        padding: 30px 0 ;
    }

    #btn_menumobile {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        display: block;
        font-size: 20px;
        color: #303030;
        text-decoration: none;
    }

    #preenchaDados {
        position: absolute;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}