@charset "UTF-8"; 

:root {
    --azul-strong: #036666;
    --azul-weak: #003566;
    --amarelo-weak: #FFD60A;
    --amarelo-strong: #78C6A3;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

/* cabeçalho da pagina */ 

header#cabecalho {
    background-color: #fffffffc;
}

header#cabecalho > h1 {
    color: black;
    font-style: italic;
    font-size: 1.8em;
    text-align: center;
    padding: 5px 0;
}

/* conteudo principal */ 

body {
    background-color: #2a2a2a;
    padding-bottom: 20px;
}

.titulo_opcoes {
    color: orangered;
    text-shadow: 0px 2px 2px #ffffff3a;
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
}

main#conteiner_box {
    color: white;
    padding: 5% 20px 13% 20px;
    margin: 0 0;

}

/* sobre função */ 
p.sobre_funcao {
    text-shadow: 0px 2px 2px black;
    max-width: 700px;
    font-size: 23px;
    line-height: 1.7em;
    text-align: left;
    margin: 30px auto;
}
/* div para opções */ 

div#box_div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
    max-width: 1100px;
    margin: auto;
}

div#box_div div {
    background-color: rgb(94, 0, 94);
    flex: 1 1 200px;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 20px;
    margin: 10px;
    transition: .8s;
}

div#box_div div:hover {
    transform: scale(0.8);
    border-radius: 40px;
}

div#box_div a {
    font-size: 27px;
    color: white;
    font-weight: bold;
    transition: .8s;
}

div#box_div a:hover {
    opacity: 0.5;
}

@media screen and (max-width: 700px) {
    body {
        padding-bottom: 20%;
    }

    /* titulo */ 
    .titulo_opcoes {
        font-size: 2.4em;
        margin-top: 20px;
    }

    header#cabecalho h1 {
        font-size: 1.3em;
    }

    p.sobre_funcao {
        font-size: 17px;
        line-height: 1.7em;
        background-color: #373737a8;
        padding: 20px;
        border-radius: 20px;
    }

    div#box_div a {
        font-size: 22px;
        color: white;
        font-weight: bold;
        transition: .8s;
    }
    
}