@charset "UTF-8"; 

:root {
    --vermelho-strong: #F20530;
    --azul-fort: #0367A6;
    --azul-weak: #25A6D9;
    --black-weak: #0D0D0D;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

/* cabeçalho da pagina */ 

header#cabecalho {
    padding: 2% 0;
}

header#cabecalho > h1 {
    color: #2a2a2a;
    font-size: 3em;
    text-align: center;
    margin-top: 20px;
}

header#cabecalho p {
    color: #ffffffce;
    margin-top: 20px;
    font-size: 23px;
    text-align: center;
}

/* corpo da pagina */ 

body {
    background-color: var(--vermelho-strong);
    color: white;
}

main {
    margin: 2% 0;
}

/* conteiner div */ 

div#conteiner_div {
    display: flex;  
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto;
    padding: 0 10px;
}

div#conteiner_div div {
    background-color: #2a2a2a;
    flex: 1 1 600px;
    padding: 10px ;
    margin: 10px;
}

div#conteiner_div div h2 {
    font-size: 1.8em;
}

div#conteiner_div div p {
    background-color: #ffffff06;
    font-size: 18px;
    line-height: 1.4em;
    padding: 5px;
    display: none;
    margin-top: 2%;
}

div#conteiner_div div:hover p {
    display: block;
}

/* conteiner front-end */ 

article#sobre_frontend {
    line-height: 1.4em;
    max-width: 1000px;
    margin: 2% auto;
}

article#sobre_frontend h2 {
    font-size: 2em;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}

article#sobre_frontend p {
    font-size: 20px; 

    line-height: 1.4em;
    padding: 0 20px;
}


/* botão */ 

.button_voltar {
    background-color: var(--black-weak);
    color: white;
    width: 200px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 3px 3px var(--black-weak);
    padding: 7px;
    margin: 20px auto;
    transition: .8s;
}

.button_voltar:hover {
    transform: scale(0.8);
}

.button_voltar a {
    color: white;
    font-size: 20px;
}


@media screen and (max-width: 500px) {
    article#sobre_frontend p {
        font-size: 18px;
    }
}