@charset "UTF-8"; 

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/* estilo header */ 
header {
    background-color: gold;
    border-bottom: 1px solid black;
    box-shadow: 0px 3px 20px #4b4b4b;
}
header h1 {
    color: #2a2a2a; 
    font-size: 2.5em;
    text-align: center;
    padding: 1% 0 ;
}

/* corpo da pagina */ 
body {
    background-image: linear-gradient(to left, purple, gold);
}

main {
    padding: 0 20px;
}

article {
    background-color: #2a2a2a;
    color: white;
    border-radius: 30px;
    max-width: 600px;
    padding: 20px;
    margin: 20px auto auto auto;
}

.text{
    background-color: purple;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
}

article div h2 {
    text-align: center;
}

article ul {
    margin-top: 20px;
    padding-left: 20px;
    list-style-type: '✔ ';
}

article ul > li {
    font-size: 1.4em;
    line-height: 2em;
}

@media screen and (max-width: 400px) {
    header h1 {
        font-size: 2em;
    }

    article ul > li {
        font-size: 1.2em;
    }
}