@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --cor-fundo: #31E083; 
    --cor-text: #00252E; 
}

* {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
/* body */ 
body {
    color: var(--cor-text);
    background-color: var(--cor-fundo);
}

main {
    max-width: 700px;
    margin: auto;
}

article#linguagens {
    padding-top: 10%;
}

article{

    padding: 5% 20px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    margin: 10px 0;
}
label {
    font-size: 23px;
    margin-top: 10px;
}
input {
    padding: 2px 4px;
    margin: 10px 0 ;
}

ul > li {
    line-height: 1.5em;
}
/* --- cabeçalho da pagina ---*/ 

header {
    background-color: #2a2a2a;
    color: white;
    padding: 2% 0 ;
}

header h1 {
    font-size: 3em;
    text-align: center;
    font-style: italic;
    text-decoration: underline 1px #ffffff65;
}

/* --- article inguagens --- */ 

summary {
    background-color: var(--cor-text);
    width: 196px;
    color: white;
    font-size: 14px;
    padding: 2px;
}

details ul {
    background-color: #ffffff;
    width: 180px;
    padding: 10px;
}

details ul > li {
    line-height: 1.5em;
}

details ul > li:hover {
    background-color: #a0a0a096;
}

/* ---- article peíodos ----- */ 
article#periodo, article#votos li {
    font-size: 18px;
}
/* ---- botão dos input ---- */

.botao_input {
    background-color: #0856a3;
    color: white; 
    border: none;
    border-radius: 30px;
    padding: 3px 5px;
    box-shadow: 0px 3px 3px #000000ad;
    transition: .8s;
}

.botao_input:hover {
    transform: scale(0.8);
}

/* style do section da pagina */ 

section#sobre_pag {
    background-color: white;
    padding: 2% 20px;
}
section#sobre_pag h2 {
    text-align: center;
    margin: 30px 0;
}

section#sobre_pag p {
    max-width: 800px;
    margin: 3% auto;
}

/* ----- calculadora ------*/ 
#number_vezes01, #number_vezes02 ,#number_dividir01 ,#number_dividir02
{
    width: 80px;
}

/* style de textos curtos da pagina */ 
.font_li {
    color: #0000009a;
}

span.clique {
    font-size: 10px;
    color: #ffffff7b;
}

span.style_uso {
    font-size: 23px;
    font-weight: bold;

}
/* -------- area de responsividade do site --------- */ 

@media screen and (max-width: 600px) {
    header > h1 {
        font-size: 1.5em;
        padding: 0 20px;
        transition: .8s;
    }

    article {
        border-bottom: 1px solid #00000079;
    }

    section#sobre_pag h2 {
        font-size: 1.3em;
    }

    section#sobre_pag p {
        font-size: 16px;
    }
    
    span.style_uso {
        font-size: 18px;

    }
    article#periodo, article#votos li {
        font-size: 16px;
    }
}
